.SearchBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .alert-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  